p,span,button,input,div{
    font-family: "微软雅黑";
}
.all-background{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
body{    
    min-width: 1200px;
    background-color: unset;
}
.head{
    width: 1180px;
    padding: 0 10px;
    margin: auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    cursor: default;
}
.logoimg{
    height: 70px;
}
.headrigth-top,.headright-bot{
    font-size: 16px;
}
.headrigth-top li{
   float: left;
   color: white;
   margin-right: 40px;
}
.headrigth-top li:nth-of-type(5){
    margin-right: 0;
}
.headright-bot{
    float: left;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
    color: white;
}
.headright-bot span{
    line-height: 38px;
}
.addbuton{
    background: #FEB500;
    width: 124px;
    height: 38px;
    text-align: center;
    font-weight: bold;
}
.maincontent{
    width: 1200px;
    min-height: 1058px;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.contenleft{
    background: rgba(0, 37, 160, 0.42);
    width: 20%;
    border-radius: 6px;
    cursor: default;
}
.monpoints{    
    padding:20px 0px 10px 0px;
}
.montimg{
    width: 25px;
    margin-left: 34px
}
.gneral{
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-left: 15px;
    position: relative;
    top: 5px;
}
.linehr{
    width: 200px;
    border: 1px solid #6F92DF;
    margin-top: 5px;
}
.report{
    text-align: center;    
    color: #ffffffeb;
    font-size: 16px;
    cursor: pointer;
}
.reporte8{
    color: #E8F024;
}
.contentright{
    width: 80%;
}
.conright-top{
    background: #6082B6;
    height: 75px;
    margin-top: -10px;
    border-radius: 10px;
    line-height: 75px;
    padding-left: 20px;
}
.conright-nav li{
    float: left;
    margin-right: 20px;
    padding: 0 10px;
}
.conright-nav a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    height: 76px;
    display: inline-block;
}
.conright-nav img{
    margin-right: 10px;
}
.nav{    
    margin-bottom: 20px;
    font-size: 16px;
}
.cetnen-prot{
    min-height: 1058px;
    padding: 20px;
    padding-right: 0;
    background: #fff;
    border-radius: 6px;
    cursor: default;
    margin-top: 5px;    
    position: relative;
    padding-bottom: 164px;
}
.prot-red{
    margin-top: 30px;
    margin-bottom: 20px;
    color: red;
    font-size: 17px;
    margin-left: 80px;
}
.prot-flex{
    display: flex;
    font-size: 17px;
}
.prot-names{
    width: 130px;
    margin-right: 20px;
}
.prot-names li{
    margin-bottom: 30px;    
    text-align: right;
}
.prot-value li{
    margin-bottom: 28px;
}
.prot-password{
    color: #00A1EA;
    margin-right: 80px;
}
.prot-but{
    width: 90px;
    height: 30px;
    background: #F19249;
    color: #fff;
    border-radius: 2px;
}
.prot-but:nth-of-type(1){
    margin-right: 10px;
    width: 80px;
    background: #00A1EA;
}
.prot-type{
    width: 100px;
    height: 30px;
    color: #bbb;
    border: 1px solid #bbb;
    background: none;
}
.prot-type1{
    background: #00A1EA;
    color: #fff;
    border-color: #00A1EA;
}
.prot-textarea{
    width: 400px;
    height: 120px;
    border: 1px solid #bbb;
    border-radius: 3px;
    resize: none;
}
.prot-submit{
    width: 110px;
    height: 30px;
    background: #00A1EA;
    color: #fff;
    display: block;
    margin-left: 300px;
    font-size: 16px;    
}

.popup-recharge{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    display: none;
    z-index: 3;
}
.popup-box{
    width: 900px;
    padding: 0px 0px 20px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -230px;
    margin-left: -450px;
    box-shadow: 0 0 2px #fff;
    cursor: default;
    z-index: 5;
    margin-bottom: 50px;
}
.popup-name{
    font-size: 26px;
    color: #00A2E8;
    width: 96%;
    margin-left: 2%;
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #DCDCDC;
    margin-bottom: 40px;
    font-weight: bold;
}
.data-personage{
    display: flex;
}
.personage-ul{
    width: 150px;
    margin-right: 20px;
    text-align: right;
    font-size: 20px;
    margin-left: 100px;
}
.personage-ul li{
    margin-bottom: 30px; 
}
.personage-ul li:nth-child(3),
.personage-ul li:nth-child(4){
    margin-bottom: 133px;
}
.personage-data-ul li{
    margin-bottom: 20px;     
}
.personage-data-ul .name-databo{
    width: 480px;
    position: relative;
    margin-bottom: 30px;
}
.personage-data-ul input{
    width: 400px;
    height: 40px;
    border: 1px solid #D2D2D2;
    border-radius: 2px;
}
.data-border{
    display: inline-block;
    border: 1px solid #D2D2D2;
    padding: 4px;
    height: 130px;
    width: 200px;
    margin-right: 10px;
}
.data-border img{
    width: 100%;
    height: 100%;
}
.color-d{
    color: #D2D2D2;    
    position: absolute;
    bottom: 0;
}
.data-add{
    font-size: 45px;
    margin: 45px 0 20px 0;
    color: #BCBCBC;
    text-align: center;
    height: 20px;
    line-height: 10px;
}
.data-name{
    font-size: 14px;
    color: #D2D2D2;
    text-align: center;
}
.data-submit,
.data-firm{
    font-size: 18px;
    color: #fff;
    width: 180px;
    height: 40px;
    background: #0097FF;
    margin-left: 300px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.check-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 4;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
}
input[type="number"]{
-moz-appearance: textfield;
}
.remove-x,
.firm-remove-x,
.firm-message-remove{
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}
.centen-cen{
    display: flex;
    margin: 100px auto 0;
    width: 685px;     
}
.centen-user{
    width: 140px;    
    height: 190px;
    margin-right: 40px;
}
.centen-check{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.centen-top{
    font-size: 22px;
    margin-bottom: 60px;
    margin-top: 12px;
}
.centen-top a{
    margin-left: 20px;
    font-size: 16px;
    color: #00A1EA;
}
.centen-name{
    margin-bottom: 15px;
    font-size: 16px;
}
.centen-phon{
    font-size: 16px;   
}
.setting-submit{
    margin-top: 100px;
    width: 100px;
    height: 30px;
    background: #00A1EA;
    border-radius: 2px;
    color: #fff;
    margin: 100px auto;
    display: block;
    z-index: 1;
    position: relative;
}
.bottom{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;        
}
.bottom img{
    width: 49%;
}


.popup-message{
    display: none;
}
.message-name{
    font-size: 23px;
    color: #00A2E8;
    width: 96%;
    margin-left: 2%;
    text-align: center;
    padding: 10px 0 20px 0;    
    margin-bottom: 10px;
    font-weight: bold;
}
.message-box{
    width: 600px;
    height: 300px;
    padding: 0px 0px 20px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -300px;
    box-shadow: 0 0 2px #fff;
    cursor: default;
    z-index: 6;
    margin-bottom: 50px;
}
.message-remove-x{
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}
.message-name-ul li{
    margin-bottom: 20px;
    font-size: 15px;   
    margin-right: 10px;     
}
.message-value li{
    color: #00A1EA;
    font-size: 15px;
    margin-bottom: 20px;
}
.message-personage{
    justify-content: center;
}
.message-his{
    font-size: 15px;
    margin-bottom: 24px;
    text-align: center;
}
.message-button{
    text-align: center;
    width: 100%;
}
.message-button button{
    color: #fff;
    background: #F8B651;
    width: 110px;
    height: 30px;
    border-radius: 4px;
    font-size: 16px;
}
.message-button .message-confirm{
    background: #00A1EA;
    margin-right: 60px;    
}
.message-button .hint-confirm{
    background: #00A1EA;
    margin-right: 60px;
}
.hint-cen{
    padding: 0 5%;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
}
.hint-button{    margin-top: 50px;}
.hint-box{
    height: 250px;
    margin-top: -125px;
}
.popup-hint{
    display: none;
}

.firm-recharge{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    display: none;    
    z-index: 3;
}
.firm-recharge .personage-ul{
    width: 190px;
}
.data-firm{
    display: block;
    margin: 40px auto;
}

/* 个人完成认证 */
.personage-attestation{
    display: none;
}
.firm-submit{
    margin-top: 60px;
    width: 100px;
    height: 30px;
    background: #00A1EA;
    border-radius: 2px;
    color: #fff;
    margin-right: 90px;
}
.firm-submit:nth-child(2){
    background: #F7B550;
}
.firm-button{
    position: relative;
    z-index: 1;
    text-align: center;
}
.firm-message{
    display: none;
}
.firm-hint{
    display: none;
}